<div class="main" id="home">
<div class="left-container"  [@left_container_slide_in]>
  <div class="info" >
    <div>
      <span>Agency Status: </span>
      <h4>Ready Work</h4>
    </div>
    <div>
      <span>Price: </span>
      <h4>$720/Month</h4>
    </div>
    <div>
      <span>Schedules</span>
      <h4>$450/Meeting</h4>
    </div>
  </div>
  <div class="name"><h1>SEO & Digital Marketing Agency</h1></div>
  <a class="btn" href="#contact"><button>Get Your Quote</button></a>
</div>
<div class="right-container" [@right_container_slide_in] >
  <img src="../assets/img/banner-right-image.png" alt="">
</div>
</div>