<div class="main" id='contact'>
  <div class="container">
    <div class="text">
      <div>CONTACT US</div>
      <h2>Fill Out The Form Below <span>To Get</span> In <span>Tauch</span> With Us</h2>
    </div>
    <div class="form">
      <form action="">
        <div class="inpt-first-line">
          <input type="text" placeholder="Name">
          <input type="text" placeholder="Surname">
        </div>
        <div class="inpt-second-line">
          <input type="email" placeholder="Email" name="email" ngModel [email]="true">
          <input type="text" placeholder="Surname">
        </div>
        <div class="inpt-third-line">
          <textarea placeholder="Message" name="textarea" id="" cols="30" rows="10"></textarea>
          <input  class="btn" type="button" value="Send Message Now">
        </div>
      </form>
      <div class="info">
        <div class="first-info info-item">
          <div><img src="../../../assets/img/contact-icon-01.png" alt=""></div>
          <p>info@company.com</p>
        </div>
        <div class="second-info info-item">
          <div><img src="../../../assets/img/contact-icon-02.png" alt=""></div>
          <p>+001-002-0034</p>
        </div>
        <div class="third-info info-item">
          <div><img src="../../../assets/img/contact-icon-03.png" alt=""></div>
          <p>26th Street, Digital Villa</p>
        </div>
      </div>
    </div>
  </div>
</div>