@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  font-family: 'openSans';
  src: url(./assets/fonts/OpenSans-VariableFont.ttf) format("truetype");
}
@font-face {
  font-family: 'openSansBold';
  src: url(./assets/fonts/OpenSans-Bold.ttf) format("truetype");
}
body{
  margin: 0;
  padding: 0;
}
.owl-carousel .owl-nav.disabled {
  display: block;
  position: absolute;
  position: 200px;
  bottom: 351px;
  right: 250px;
}
.owl-prev, .owl-next{
  height: 60px;
  width: 60px;
  border-radius:50% !important;
  border: 2px solid #eee !important;
  color: #ddd !important;
  background-color: white !important;
  font-size: 30px!important;
  box-sizing: border-box;
  padding: 8px 7px !important;
}
.is-invalid{
  border: 2px solid rgb(187, 11, 11) !important;
}