@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  font-family: 'openSans';
  src: url(./assets/fonts/OpenSans-VariableFont.ttf) format("truetype");
}
@font-face {
  font-family: 'openSansBold';
  src: url(./assets/fonts/OpenSans-Bold.ttf) format("truetype");
}
body{
  margin: 0;
  padding: 0;
}